body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #515076;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076;
}
.product-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  
}
.card {
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
  margin: 45px;
  padding: 25px;
}

.card-image {
  width: 290px;
  height: 245px;
}
.cos {
  font-weight: 252px;
}




